* {
  -webkit-user-select: none;
  cursor: default !important;
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
  color: #364854;
  font-family: "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  background-color: #F3F3F3;
}

div {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 5px;
}

h1 {
  color: #364854;
}

section {
  position: relative;
  width: 75%;
  left: 12.5%;
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.page {
  min-width: 500px;
  min-height: 350px;
}

.main-content {
  padding-top: 5px;
}

.li-title {
  position: relative;
}

.li-content {
  position: relative;
}

.btn {
  border-radius: 15px;
  margin-bottom: 10px;
  color: #c9c9c9;
  font-size: 16px;
  background: #364854;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: auto;
  min-width: 125px;
}

.dropify-wrapper {
  height: 200px;
  max-width: 100%;
  font-size: 14px;
  color: #777;
  background-color: #FFF;
  text-align: center;
  border: 2px dashed #E5E5E5;
  display: flex;
  align-items: center;
}

.dropify-message {
  width: 100%;
  display: inline-block;
}

input {
  width: 200px;
  height: 24px;
  font-size: 14px;
}
