* {
  -webkit-user-select: none;
  cursor: default !important;
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
  color: #364854;
  width: 100%;
  height: 100%;
  background-color: #F3F3F3;
}

.dropify-wrapper {
  height: 200px;
  max-width: 100%;
  font-size: 14px;
  background-color: #FFF;
  text-align: center;
  border: 2px dashed #E5E5E5;
  display: flex;
  align-items: center;
}

.dropify-message {
  width: 100%;
  display: inline-block;
}

.text-input {
  width: 260px;
  height: 24px;
}
